{% extends 'layout.html' %}

{% block page_title %}Bookrs - List of books by {{ user.name }}{% endblock %}

{% block page_description %}Bookrs - List of readings of {{ user.name }}{% endblock %}

{% block social %}
  <meta property="og:url" content="/books/{{ user.username }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Bookrs - List of books by {{ user.name }}">
  <meta property="og:description" content="List of readings of {{ user.name }}">
  <meta property="og:image" content="/static/img/media.png">

  <meta name="twitter:card" content="summary">
  <meta name=”twitter:url” content="/books/{{ user.username }}">
  <meta name="twitter:site" content="@sammarxz">
  <meta name="twitter:title" content="Bookrs - List of books by {{ user.name }}">
  <meta name="twitter:description" content="List of readings of {{ user.name }}">
  <meta name="twitter:image" content="/static/img/media.png">
{% endblock %}

{% block content %}

  {% if not current_user == user %}
    <h2 class="text-center margin-bottom-g">Readings of {{ user.name }}</h2>
  {% endif %}

  <div class="tabs-container">
    <div class="tab-header row margin-bottom-md">
      <div class="tabs-control">
        <a href="#read" class="tab-link" role="tab" aria-selected="true">Read</a>
        <a href="#reading" class="tab-link"role="tab">Reading</a>
        <a href="#want-read" class="tab-link" role="tab">Want to read</a>
        <div class="indicator"></div>
      </div>
      {% if current_user == user %}
        <a href="{{ url_for('new_book') }}" class="btn btn--small btn--default">Add Book</a>
      {% endif %}
    </div>
    <div class="tabs">
      <div class="container">
        <div class="tab" id="read" role="tabpanel" aria-labelledby="tab1">
          <ul class="user-books">
            {% for book in books %}
              {% if book.status == 'read' %}
                <li class="row margin-bottom-sm">
                  {{ book.title }}
                  {% if current_user == user %}
                  <div class="options">
                    <a href="{{ url_for('edit_book', id=book.id) }}"><i class="icon-pencil"></i></a>
                    <a href="{{ url_for('delete_book', id=book.id) }}"><i class="icon-trash-o"></i></a>
                  </div>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="tab" id="reading" role="tabpanel" aria-labelledby="tab2">
          <ul class="user-books">
            {% for book in books %}
              {% if book.status == 'reading' %}
                <li class="row margin-bottom-sm">
                  {{ book.title }}
                  {% if current_user == user %}
                  <div class="options">
                    <a href="{{ url_for('edit_book', id=book.id) }}"><i class="icon-pencil"></i></a>
                    <a href="{{ url_for('delete_book', id=book.id) }}"><i class="icon-trash-o"></i></a>
                  </div>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
        </div>
        <div class="tab" id="want-read" role="tabpanel" aria-labelledby="tab3">
          <ul class="user-books">
            {% for book in books %}
              {% if book.status == 'to-read' %}
                <li class="row margin-bottom-sm">
                  {{ book.title }}
                  {% if current_user == user %}
                  <div class="options">
                    <a href="{{ url_for('edit_book', id=book.id) }}"><i class="icon-pencil"></i></a>
                    <a href="{{ url_for('delete_book', id=book.id) }}"><i class="icon-trash-o"></i></a>
                  </div>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
     new TabsManager('.tabs', '.tabs-control a', '.indicator');
  </script>
{% endblock %}
